.dragndrop-container {
  display: flex;
  flex-direction: row;
}

.dragndrop-list {
  flex: 99;
}

.dragndrop-indexes-container {
  flex: 1;
  height: 80px;
}

.dragndrop-index {
  padding: 30px 20px 30px 20px;
  max-height: 18px;
  margin: 2px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #4d4d4d;
}
