.topics-container {
  position: relative;
}

.topics-container__loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(250, 250, 250, 0.6);
}

.topic-table-row__topic-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0.25em 0 0.75em 0;
}

.topic-table-row__send-accept {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.topic-table-row__send-reject {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.topic-table-row__customer,
.topic-table-row__submit-date {
  margin: 0;
  padding-bottom: 0.25em;
}

.topic-table-row__submit-date {
  color: #999;
}

.topic-table-row > td {
  vertical-align: baseline;
}
