.single-topic-container {
  min-width: 375px;
  max-width: 800px;
}

.block {
  padding: 10px;
}

.topic-edit-button {
  margin: 20px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0
}
