.topic-view-page-container {
  display: flex;
  justify-content: center;
}

.topic-view {
  max-width: 800px;
}

.topics-container__list-headings {
  float: right;
}

.topics-container__list-headings_active {
  padding-right: 18px;
}
